<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="classes" name="Suite">
<parameter name="browser" value="chrome"/>
  <test  name="Test">
    <classes>
      <class name="uitests.Test"/>
      <class name="uitests.WindowHandleTest"/>
    
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
